<form>
  <label>
    <span>Email Address</span>
    <input type="email" name="email" />
  </label>
  <label>
    <input type="submit" value="Send me the link!" />
  </label>
</form>

<div class="hidden loading">
  <p>Sending…</p>
</div>

<div class="hidden success">
  <p>Please check your email. You should soon receive a link to log in and complete your registration.</p>
  <p>The email will be sent by "Val Town", a friendly service we're using to host our registration form.</p>
  <p>
    If you don't receive the email within a minute or two, first check your spam folder, and if it's not there reach out
    to Freyja at <b>albertabasketryguild@gmail.com</b>
  </p>
</div>

<div class="hidden failure">
  <p>
    An unexpected error occurred. Please try again, or reach out to Freyja at
    <b>albertabasketryguild@gmail.com</b> for help.
  </p>
</div>
