<li class="card" tabindex="0">
  <img src="/images/workshop-{{image}}" alt="" />
  <div class="info">
    <h3>{{Class Name}}</h3>
    <h4>with {{Your Name}}</h4>
    <p>{{Class Description}}</p>
  </div>
  <div class="meta">
    <span class="session">{{How many sessions will it take to teach the class?}}</span>
    <span class="time">Sat PM</span>
    <span class="hours">4hrs</span>
    <span class="instruction">Instruction ${{Your teaching fee per student?}}</span>
    <span class="materials">Materials ${{The cost of your materials per student?}}</span>
    <span class="total">${{Total}}</span>
  </div>
  <p><b>What to bring:</b> {{What tools should the students bring?}}</p>
</li>
