/* HEADER **********************************************************/

header {
  position: relative;
  background: var(--background-dark);
}

header img {
  width: 100%;
}

header .banner {
  position: absolute;
  top: 1.5em;
  left: 3em;
  font-size: min(2.8vw, 36px);
}

header .banner h1 {
  margin: 0 0 -0.3em -0.15em;
  text-align: left;
  font-family: vollkorn;
  font-size: 3em;
  color: hsl(6, 40%, 20%);
}

header .subtitle {
  font-family: baloo;
  font-size: max(18px, 1.2em);
  margin: 0 0 -0.2em;
  color: hsl(15, 50%, 25%);
}

header .info {
  font-size: max(15px, 0.9em);
  color: hsl(15, 50%, 25%);
  font-family: vollkorn;
}

#intro {
  display: flex;
  flex-flow: row wrap;
  gap: 1em 1.5em;
  padding: 2em 2em 1em;
  font-weight: bold;
  border-top: 1px solid var(--background-dark);
  background: linear-gradient(hsl(45, 35%, 88%), hsl(45, 35%, 93%) 3em, var(--bg-light));
}

#intro p {
  flex: 1 0 15em;
  margin: 0;
}

nav {
  position: sticky;
  display: flex;
  justify-content: center;
  gap: 0.4em;
  top: 0;
  padding: 0.4em 0 24px;
  font-size: 1.1em;
  text-align: center;
  background: linear-gradient(to top, #a970, #a971 12px, #a973 23px, #a974 24px, var(--bg-light) 25px);
  z-index: 2;
}

nav a {
  font-family: baloo;
}

@media (max-width: 400px) {
  nav {
    gap: 0;
  }
}

nav a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  padding: 0.4em 0.6em;
  margin: 0 0 0.4em;
  text-decoration: none;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 4px #6421, 0 2px 8px #6421;
  transition: transform 0.15s, box-shadow 0.15s;
  will-change: transform, box-shadow;
}

nav a span {
  margin-bottom: -0.2em;
}

nav a img {
  width: 1.2em;
}

nav a img {
  rotate: -5deg;
}

nav a:hover {
  transform: scale(1.025) rotate(0.5deg);
  box-shadow: 0 2px 6px #6422, 0 3px 12px #6422;
}

/* WORKSHOPS *******************************************************/

#workshops {
  margin-top: var(--margin);
}

.lefty {
  display: grid;
  grid-template-areas: "img h1" "img div";
  grid-template-rows: max-content auto;
  place-items: start;
  gap: 0 1em;
}

.lefty img {
  grid-area: img;
  width: 13em;
  border-radius: 8px;
  box-shadow: 0 1px 4px #6421, 0 2px 8px #6421, 0 4px 16px #6421;
  rotate: -1deg;
}

.lefty h1 {
  grid-area: h1;
  text-align: left;
  line-height: 1;
}

.lefty div {
  grid-area: div;
}

@media (max-width: 750px) {
  .lefty {
    grid-template-areas: "h1" "img" "div";
    place-items: center;
  }

  .lefty img {
    width: 100%;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  margin: 2em 0 0;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  justify-items: center;
  align-items: end;
}

@media (max-width: 400px) {
  .grid {
    padding: 0 1rem;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  border-radius: 8px;
  background: #fff8;
  box-shadow: 0 1px 4px #6421, 0 2px 8px #6421, 0 4px 16px #6421;
  transition: transform 0.3s, box-shadow 0.3s;
  will-change: transform, box-shadow;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01) rotate(0.2deg);
  box-shadow: 0 2px 6px #6422, 0 3px 12px #6422;
}

.card img {
  width: 100%;
  aspect-ratio: 0.8;
  height: auto;
  object-fit: cover;
}

.card h3 {
  margin: 0;
  font-size: 1.1rem;
}

.card h4 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  font-weight: 100;
}

.card .info {
  order: -1;
  margin: auto;
  padding: 1rem 0.4rem 0;
  text-align: center;
}
.info h3 {
  font-family: baloo;
  color: var(--dark-blue);
}

.info h4 {
  color: var(--font-black);
  font-size: 1rem;
  padding-bottom: 0.2rem;
}

.card .info h4 {
  padding-bottom: 0;
}

.card .meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 1px;
  margin: 0.5rem 0;
}

.card .meta span {
  padding: 0.15em 0.3em;
}

/* WORKSHOP DIALOG *******************************************************/

.workshop dialog:modal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  place-items: center;
  place-content: center;
  gap: 1em;
  padding: var(--margin);
  border: 0;
  border-radius: 8px;
  background: hsl(45, 45%, 98%);
  box-shadow: 0 4px 16px #0008;
}

.workshop dialog .image {
  flex: 0 1 auto;
  max-width: 20em;
  max-height: calc(100% - var(--margin) * 4);
}

.workshop dialog.wide .image {
  flex: 0 1 auto;
  max-width: 30em;
}

.workshop dialog.narrow .image {
  flex: 0 1 auto;
  max-width: 12em;
  max-height: 100%;
}

.workshop dialog .image img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.workshop dialog .info {
  flex: 1 0 20em;
  max-width: 30em;
  display: flex;
  flex-flow: column;
}

.workshop dialog .info > * {
  flex: 0 0 auto;
}

.workshop dialog b {
  /* font-size: 0.9em;
  color: var(--light-green); */
  padding-top: 0.3rem;
}

/* ATTENDING ******************************************************************************************/

.halfers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  place-items: center;
  gap: 3em 1em;
}

.halfers > :nth-child(4n-3) {
  grid-column: 1;
}

.halfers > :nth-child(4n-2) {
  grid-column: 2;
}

.halfers > :nth-child(4n-1) {
  grid-column: 2;
}

.halfers > :nth-child(4n) {
  grid-column: 1;
}

.halfers > img {
  border-radius: 8px;
}

.meal-cluster {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 24.6em;
  gap: 0.2em;
  border-radius: 8px;
  overflow: hidden;
}

.meal-cluster img {
  object-fit: cover;
  width: 100%;
  height: 6em;
}

@media (max-width: 750px) {
  .halfers {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .halfers > *:nth-child(n) {
    grid-column: auto;
  }
}

#location {
  margin-top: 3em;
}

.location-row {
  display: grid;
  grid-template-areas: "map address" "map parking";
  grid-template-columns: auto min-content;
  grid-template-rows: repeat(auto);
  gap: 2em;
}

@media (max-width: 750px) {
  .location-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1.5em;
  }
}

.location-row .gmap {
  flex: 1 1 100%;
  grid-area: map;
  height: 100%;
}

/* For google map embed */
iframe {
  width: 100%;
  height: 100%;
  min-height: 20em;
  border: 4px solid var(--maroon);
  border-radius: 8px;
}

.address {
  flex: 0 0 auto;
  grid-area: address;
}

#parking {
  flex: 0 0 auto;
  grid-area: parking;
}

#parking .map {
  border-radius: 4px;
  max-width: 9.5em;
  box-shadow: 0 1px 4px #6421, 0 2px 8px #6421, 0 4px 16px #6421;
  transition: transform 0.3s, box-shadow 0.3s;
  will-change: transform, box-shadow;
  rotate: 2deg;
}

#parking .map:hover {
  transform: scale(1.01) rotate(0.2deg);
  box-shadow: 0 2px 6px #6422, 0 3px 12px #6422;
}

#parking dialog img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

#register {
  max-width: 50em;
  padding: 0 var(--margin);
  margin: 3em auto 3em;
}

#register form {
  display: flex;
  gap: 0.5em;
  place-content: center;
  place-items: end;
}

#register .success,
#register .loading,
#register .failure {
  padding: 1em;
  border-radius: 8px;
  background: #fff;
}

#register .hidden {
  display: none;
}

footer {
  text-align: center;
  padding: 2em;
  background: var(--background-dark);
}
