body {
  padding: calc(var(--margin) * 3) var(--margin);
}

.centered {
  color: var(--dark-green);
  text-align: center;
  margin: -0.5em 0 2em;
}

@media (max-width: 650px) {
  .centered br {
    display: none;
  }
}

form .grid {
  display: grid;
  max-width: 48em;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 2em 1em;
}

@media (max-width: 500px) {
  form .grid {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}

form span {
  display: block;
}

form p {
  grid-column: 1 / -1;
}

form h2 {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 0.5em;
}

form * + h2 {
  margin-top: 2.5em;
}

form h4 {
  text-align: center;
}

.wide {
  grid-column: 1 / -1;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  margin-top: 0.5em;
}

.row label {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  background: #fff9;
  padding: 0.2em 0.4em;
  border: 1.5px solid currentcolor;
  color: var(--dark-blue);
  border-radius: 4px;
  cursor: pointer;
}

.row label * {
  cursor: pointer;
}

.workshop-intro {
  max-width: 48em;
  margin: 0 auto 2em;
}

.workshop-tokens {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  justify-items: center;
}

.workshop-token {
  display: flex;
  width: 100%;
  border-radius: 8px;
  background: #fff8;
  box-shadow: 0 1px 4px #6421, 0 2px 8px #6421, 0 4px 16px #6421;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.1s, outline 0.1s;
  will-change: transform, box-shadow, opacity;
  cursor: pointer;
  contain: paint; /* Crop img borders */
}

.workshop-token:hover {
  transform: scale(1.015);
  box-shadow: 0 2px 6px #6422, 0 3px 12px #6422;
}

.inert {
  pointer-events: none;
}

.inert .workshop-token,
.workshop-token.sold-out {
  transform: none;
  box-shadow: 0 1px 4px #6421, 0 2px 8px #6421, 0 4px 16px #6421;
  cursor: default;
}

.workshop-token.sold-out {
  background: #0001;
  box-shadow: none;
}

.workshop-token:has(.faded) {
  opacity: 0.3;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.5s, outline 0.5s;
}

.workshop-token:has(input:checked) {
  outline: 2px solid var(--light-green);
}

.workshop-token input {
  display: none;
}

.workshop-token img {
  width: 4em;
  height: auto;
  aspect-ratio: 0.8;
  object-fit: cover;
}

.workshop-token .right {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 0.5em;
}

.workshop-token h5 {
  margin: 0;
}

.workshop-token .meta {
  display: flex;
  justify-content: space-between;
}

.workshop-token .spots {
  align-self: flex-end;
  font-size: 0.8em;
}

.workshop-token.sold-out .spots {
  color: var(--red);
}

.review {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 4em 2em;
  margin: 4em 0 0;
}

.your-schedule .table {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5em 1em;
  width: max-content;
}

.your-schedule h3 {
  grid-column: 1 / -1;
  margin-top: 0.5em;
}

.your-schedule .label {
  text-align: right;
}

.your-schedule .nuttin {
  color: var(--dark-blue);
}

.subtotal .table {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.5em 1em;
}

.submit {
  display: block;
  max-width: max-content;
  margin: 3em auto 0;
  font-size: 1.1em;
}
