*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cream: #eae1c2;
  --dark-blue: hsl(230, 36%, 44%);
  --dark-green: #2b4727;
  --gold: #b3945a;
  --gray: #d4d1cd;
  --light-blue: #c7cbdf;
  --light-green: hsl(54, 43%, 33%);
  --maroon: #5b2818;
  --pink: #b98092;
  --red: #cd563c;

  --font-white: hsl(180, 2%, 91%);
  --font-black: hsl(42, 14%, 14%);

  --background: hsl(50, 18%, 93%);
  --background-dark: hsl(50, 11%, 89%);
  --bg-light: hsl(43, 28%, 94%);

  --margin: min(2vw, 2rem);
}

html {
  font-size: min(calc(0.8vw + 12px), 20px);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: var(--background-dark);
}

body {
  margin: 0 auto;
  font-family: open-sans, sans-serif;
  background: var(--background);
  color: var(--font-black);
  max-width: 64em;
  box-shadow: 0 0 2em #0001;
}

section {
  margin: calc(var(--margin) * 4) var(--margin);
  scroll-margin-top: 3.5em;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 3em;
  font-family: baloo;
}

h2 {
  margin: 0;
  font-size: 2em;
  font-family: baloo;
}

h3 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1;
  font-family: baloo;
  color: var(--light-green);
}

h4 {
  font-size: 1.25em;
  margin: 0;
  font-family: baloo;
}

p {
  margin: 0.5rem 0;
}

a {
  font-family: baloo;
  color: var(--dark-blue);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

.dialoger {
  cursor: pointer;
}

dialog {
  cursor: pointer;
}

dialog:modal {
  animation: pull-in 0.3s both;
}

@keyframes pull-in {
  from {
    scale: 0.98;
  }
}

dialog::backdrop {
  background: hsl(50 18% 93% / 0.9);
}

/* FORM ******************************************************************************************/

form {
  padding: 0.5em 0;
  padding-bottom: 1em;
}

form * + h2 {
  margin-top: 1em;
}

form > label,
form > div,
form > fieldset {
  display: block;
  margin: 0 0 1em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  max-width: 40ch;
  padding: 0.2em 0.4em;
  border: 1.5px solid var(--dark-blue);
  border-radius: 4px;
  background: #fff5;
}

input[type="submit"] {
  width: auto;
  max-width: 40ch;
  padding: 0.2em 0.4em;
  border: 1.5px solid currentcolor;
  color: var(--dark-blue);
  border-radius: 4px;
  background: hsl(230 100% 97% / 0.5);
  cursor: pointer;
}

input[type="submit"]:hover {
  background: white;
}

input[type="submit"]:disabled {
  opacity: 0.5;
  pointer-events: none;
}

label > span {
  display: block;
  font-weight: bold;
  font-size: 0.9em;
  color: var(--dark-blue);
}

.hidden {
  display: none;
}
