*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cream: #ece1be;
  --dark-blue: hsl(230, 36%, 44%);
  --dark-green: #224823;
  --gold: #b99250;
  --gray: #d5d1cd;
  --light-blue: #c7cbdf;
  --light-green: #797122;
  --maroon: hsl(15, 50%, 25%); /* variant of #632413; */
  --pink: #c37d92;
  --red: #cd563c;
  --orange: #de4c31;

  --font-white: hsl(180, 2%, 91%);
  --font-black: hsl(42, 14%, 14%);

  --background: hsl(50, 18%, 93%);
  --background-dark: hsl(50, 11%, 89%);

  /* --bg-light: hsl(43, 28%, 94%); */
  --bg-light: hsl(45, 35%, 96%);

  --margin: min(2vw, 2rem);
}

html {
  font-size: min(calc(0.8vw + 12px), 20px);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: var(--background-dark);
}

body {
  margin: 0 auto;
  font-family: open-sans, sans-serif;
  background: var(--background);
  color: var(--font-black);
  max-width: 64em;
  box-shadow: 0 0 2em #0001;
}

section {
  margin: calc(var(--margin) * 3) var(--margin);
  scroll-margin-top: 5.5em;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 3em;
  font-family: baloo;
  color: var(--maroon);
}

h2 {
  margin: 0;
  font-size: 2em;
  font-family: vollkorn;
  color: var(--maroon);
}

h3 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1;
  font-family: baloo;
  color: var(--maroon);
}

h4 {
  font-size: 1.25em;
  margin: 0;
  font-family: vollkorn;
}

p {
  margin: 0.5rem 0;
}

a {
  font-family: baloo;
  color: var(--dark-blue);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.dialoger {
  border: none;
  padding: 0;
  cursor: pointer;
}

dialog {
  outline: 0;
  cursor: pointer;
}

dialog::backdrop {
  background: hsl(50 18% 93% / 0.9);
}

/* FORM ******************************************************************************************/

form {
  padding: 0.5em 0 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
textarea {
  width: 100%;
  padding: 0.2em 0.4em;
  border: 1.5px solid var(--dark-blue);
  border-radius: 4px;
  background: #fff5;
}

input[type="submit"] {
  width: auto;
  color: var(--dark-blue);
  background: hsl(230 100% 97% / 0.5);
  cursor: pointer;
}

input[type="submit"]:hover {
  background: white;
}

input[type="submit"]:disabled {
  opacity: 0.5;
  pointer-events: none;
}

label > span {
  display: block;
  font-weight: bold;
  font-size: 0.9em;
  color: var(--dark-blue);
}
